[Unit]
Description=Boot Menu by Maxymiller
After=systemd-user-sessions.service
Before=getty@tty1.service

# Não inicia a TTY até o menu terminar
Conflicts=getty@tty1.service

[Service]
Type=simple
StandardInput=tty
StandardOutput=tty
StandardError=tty
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes
ExecStart=/root/tela-de-boot/boot.sh

[Install]
WantedBy=multi-user.target
